.footer-section{
  font-family: var(--font-averia);
  font-size: var(--text-paragraf);
  font-weight: 400;
  line-height: 1.7;
  background: var(--pallet-cream);

  box-sizing: border-box;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4vw 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.footer-brand {
  width: 320px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.footer-logo h2 {
  margin: 0;
  font-size: 32px;
  color: var(--pallet-dark-blue);
}

.footer-brand p {
  color: var(--pallet-dark-blue);
  line-height: 1.8;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  margin-bottom: 16px;
  color: #22336a;
}

.footer-column a {
  text-decoration: none;
  color: var(--pallet-dark-blue);
  margin-bottom: 10px;
}

.footer-bottom {
  background: var(--pallet-dark-blue);
  color: var(--pallet-cream);
  text-align: center;
  font-family: var(--font-averia);
  font-size: var(--text-paragraf);
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0%;
}

.footer-text {
  max-width: 760px;
  font-family: var(--font-poppins);
  font-size: var(--text-paragraf);
  font-weight: 400;
  line-height: 1.6;

  color: var(--pallet-cream);
}