.analisis-page {
  display: flex;
  gap: 2vw;
}

.formContainer {
  width: 420px;
  background: linear-gradient(180deg, #2e2371 0%, #33177f 100%);
  border-radius: 15px;
  padding: 24px;
  color: #fff;
  box-shadow: 0 15px 40px rgba(69, 35, 167, 0.25);
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.subtitle {
  margin-top: 10px;
  margin-bottom: 24px;
  color: #dcd4f7;
  font-size: 16px;
  line-height: 1.5;
}

.formGroup {
  margin-bottom: 18px;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
}

.inputIcon,
.quantityInput,
.selectWrapper {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  padding: 14px 0;
}

.inputIcon input,
.quantityInput input,
.selectWrapper select {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 18px;
  font-size: 15px;
  color: #333;
}

.inputIcon input::placeholder,
.quantityInput input::placeholder {
  color: #9e9e9e;
}

.icon {
  margin-right: 18px;
  font-size: 20px;
  color: #6441d8;
}

.selectWrapper {
  position: relative;
}

.selectWrapper select {
  appearance: none;
  cursor: pointer;
}

.selectWrapper .icon {
  position: absolute;
  right: 0;
}

.quantityInput {
  justify-content: space-between;
}

.counter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 12px;
}

.counter span {
  color: #444;
  font-weight: 600;
}

.counter button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background: #f1f1f1;
  color: #5f3bd7;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.counter button:hover {
  background: #e7e0ff;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 18px 0;
}

.checkbox input {
  width: 18px;
  height: 18px;
  accent-color: #8d63ff;
}

.checkbox label {
  font-size: 14px;
  color: #f5f5f5;
}

.infoCard {
  background: #efe9ff;
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 14px;
  margin-bottom: 22px;
}

.lamp {
  font-size: 50px;
  color: #8a5bff;
  margin-left: 14px;
}

.infoCard h4 {
  margin-top: 6px;
  margin: 0;
  color: #4b2ba6;
  font-size: 16px;
}

.infoCard p {
  margin: 6px 0;
  color: #4b2ba6;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.purple-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 6px;

  background: linear-gradient(90deg, #864cff, #a154ff);

  color: #fff;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  transition: 0.3s;
}

.addButton:hover {
  opacity: 0.9;
}

html,
body {
  overflow-y: auto !important;
}

main {
  overflow-y: auto !important;
  height: auto !important;
  min-height: 100vh;
}

.formContainer {
  width: 420px;
  height: auto !important;
  min-height: unset !important;
  overflow: visible !important;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .analisis-page {
    flex-direction: column;
  }
  .formContainer {
    width: 100%;
    padding: 20px;
  }

  .inputIcon,
  .quantityInput,
  .selectWrapper {
    padding: 12px 0;
  }

  .infoCard {
    padding: 14px;
  }

  .addButton {
    padding: 12px;
  }
}

/* device container */

.device-list-container {
  background: #fffdfb;
  border-radius: 15px;
  padding: 24px;

  border: 1px solid rgba(137, 43, 226, 0.1);

  box-shadow:
    0 12px 35px rgba(0, 0, 0, 0.05),
    0 4px 10px rgba(128, 90, 213, 0.08);

  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-bottom: 40px;
}

.device-list-header h2 {
  color: #292277;
  font-size: 2rem;
  margin: 0;
}

.device-list-header p {
  color: #666;
  margin-top: 10px;
}

.device-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.device-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 22px;

  border-radius: 16px;
  border: 1px solid #efe5db;

  background-color: white;

  transition: 0.3s ease;
}

.device-card:hover {
  transform: translateY(-3px);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.device-info {
  display: flex;
  align-items: center;
  gap: 18px;
}

.device-info img {
  width: 48px;
}

.device-info h3 {
  color: #312783;
  font-size: 1.1rem;
  margin-bottom: 4px;
}

.device-info p {
  color: #666;
  font-size: 0.95rem;
}

.device-actions {
  display: flex;
  gap: 18px;
}

.device-actions button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.device-actions button:first-child {
  color: #7a3cff;
}

.device-actions button:last-child {
  color: #ff4040;
}

.start-analisis-button-con {
  background: linear-gradient(180deg, #2e2371 0%, #33177f 100%);
  height: fit-content;
  border-radius: 15px;
  color: #fff;
  padding: 24px;
  margin-bottom: 40px;
}

.start-analisis-button-con div p:first-child {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

.start-analisis-button-con div p {
  font-size: 13px;
}
