.Fitur-section {
  background: linear-gradient(
    180deg,
    var(--pallet-purple),
    var(--pallet-dark-blue)
  );

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  padding: 120px 20px;
}

.Fitur-section h2 {
  max-width: 850px;

  font-family: var(--font-averia);
  font-size: var(--text-header);
  font-weight: 400;
  text-align: left;
  line-height: 1.2;

  background: var(--pallet-cream);

  margin: 0;
}

.fitur-text {
  max-width: 760px;

  font-family: var(--font-poppins);
  font-size: var(--text-paragraf);
  font-weight: 400;
  line-height: 1.7;

  color: var(--pallet-cream);
}

.fitur-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fitur-box {
  width: 230px;
  height: 220px;
  background: #d9d9d9;
  border-radius: 4px;
}

.fitur-card p {
  margin-top: 20px;
  max-width: 220px;

  font-family: var(--font-mitr);
  font-size: var(--text-paragraf);
  line-height: 1.6;
  text-align: center;

  color: var(--pallet-cream);
}

.fitur-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 90px;
}
