* {
  margin: 0;
  box-sizing: border-box;
}

.fitur-section {
  width: 100%;
  background: #f8f5f5;
  padding-bottom: 5vw;
}

.fitur-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vw;

  width: 100%;
  gap: 5px;
}

.main-fitur {
  width: 40%;
  height: 500px;
  background-color: #2f2174;
}

.sub-fitur-con {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.sub-fitur {
  width: 100%;
  background-color: #2f2174;
}

.badge-text {
  text-align: center;
  margin-bottom: 2.5vw;

  font-weight: 400;
}

.badge-con {
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: space-between;
  max-width: 60vw;
  margin: 0 auto;
}

.badge-con img {
  width: auto;
  height: 100%;
}

.fitur-text-con {
  margin-bottom: 4vw;
}

.fitur-text-con p {
  text-align: center;
}

.fitur-text-con p:first-child {
  font-size: var(--text-header);
  padding-right: 2vw;
  color: #2f2174;
  font-weight: 500;

  margin-bottom: 0.5vw;
  padding-top: 4vw;
}

.sub-title {
  max-width: 50vw;
  margin: 0 auto;
}
