:root {
  --pallet-dark-blue: #323c6d;

  /* pallet #2 */
  --pallet-nila: #0c0850;
  --pallet-gading: #fef8f4;
  --pallet-ungu: #5428c2;

  --radius: 5px;

  --text-main-header: clamp(48px, 5vw, 96px);
  --text-header: clamp(36px, 3vw, 64px);
  --text-paragraf: clamp(16px, 1.25vw, 24px);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #20254f;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8b5cf6, #c084fc);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #7c3aed, #a855f7);
}

body {
  margin: 0;
  font-family: var(--font-mitr);

  font-weight: 300;
  overflow-x: hidden;
}

.padding {
  padding: 0 8vw;
}

.logo {
  width: 100%;
}
