.profileHeader p:first-child {
  margin: 0%;
  font-size: clamp(20px, 1.5vw, 30px);
  font-weight: bold;
  color: var(--pallet-nila);
}

.profileHeader p {
  margin: 0.7vw 0;
  color: var(--pallet-nila);
  font-weight: 400;
}

/* ================= HEADER ================= */

.profileHeader p:first-child{
    margin:0;
    font-size:clamp(36px,2vw,42px);
    font-weight:700;
    color:#24196D;
}

.profileHeader p:last-child{
    margin-top:8px;
    color:#6C6C80;
    font-size:15px;
}

/* ================= PROFILE ================= */

.profileCard{
    margin-top:28px;
    background:#fff;
    border-radius:26px;
    padding:38px 42px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 15px 45px rgba(66,45,150,.08);
    position:relative;
    overflow:hidden;
}

.profileLeft{
    display:flex;
    align-items:center;
    gap:34px;
}

.profileAvatar{
    width:135px;
    height:135px;
    border-radius:50%;
    background:linear-gradient(180deg,#E8D8FF,#A25DFF);
    display:flex;
    justify-content:center;
    align-items:center;
    color:#6D37FF;
    font-size:88px;
    box-shadow:0 12px 28px rgba(122,62,245,.20);
}

.profileInfo h2{
    margin:0;
    font-size:44px;
    color:#24196D;
    font-weight:700;
}

.profileInfo span{
    display:block;
    margin-top:5px;
    margin-bottom:18px;
    color:#7444FF;
    font-weight:600;
}

.profileInfo p{
    display:flex;
    align-items:center;
    gap:12px;
    margin:12px 0;
    color:#666;
    font-size:16px;
}

.profileInfo svg{
    color:#7444FF;
}

/* ================= BUTTON ================= */

.editBtn{
    display:flex;
    align-items:center;
    gap:10px;

    border:none;
    outline:none;

    background:linear-gradient(135deg,#7E4CFF,#5A2DFF);

    color:#fff;

    padding:15px 28px;

    border-radius:14px;

    cursor:pointer;

    font-weight:600;
    font-size:15px;

    transition:.25s;

    box-shadow:0 12px 28px rgba(95,60,255,.25);
}

.editBtn:hover{
    transform:translateY(-3px);
}

/* ================= GRID ================= */

.profileGrid{
    margin-top:30px;

    display:grid;

    grid-template-columns:repeat(3,minmax(330px,1fr));

    gap:24px;
}

/* ================= CARD ================= */

.card{
    background:#fff;

    border-radius:24px;

    padding:26px;

    min-height:470px;

    border:1px solid #F0ECFF;

    box-shadow:0 12px 35px rgba(60,40,130,.08);

    transition:.25s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 20px 45px rgba(96,55,255,.12);
}

/* ================= CARD TITLE ================= */

.cardTitle{
    display:flex;
    align-items:center;
    gap:14px;

    margin-bottom:26px;
}

.cardTitle svg{
    width:46px;
    height:46px;

    padding:11px;

    background:#F3EDFF;

    color:#7444FF;

    border-radius:14px;

    flex-shrink:0;
}

.cardTitle h3{
    margin:0;
    font-size:24px;
    font-weight:700;
    color:#24196D;
}