.problem3-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--pallet-cream);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.problem3-section h2 {
  font-family: var(--font-averia);
  font-size: var(--text-header);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  background: linear-gradient(
    90deg,
    var(--pallet-dark-blue),
    var(--pallet-purple)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 0;
}

.problem3-img-div {
  position: absolute;
  width: 100%;
  scale: 0.5;
}

.problem3-img-div div {
  position: relative;
  width: 100%;
}

.problem3-img-div div img {
  position: absolute;
}
