.bottom-nav-dashboard {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 82px;

  padding: 0;

  background-color: #ffffff;

  border-top-left-radius: 28px;
  border-top-right-radius: 28px;

  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.08);

  z-index: 999;
}

.bottom-nav-dashboard .ant-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: transparent !important;
  border: none !important;
}

.bottom-nav-dashboard .ant-menu-overflow {
  justify-content: space-around;
}

.bottom-nav-dashboard .ant-menu-item {
  flex: 1;

  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4px;

  color: #29224f !important;

  border-bottom: none !important;
}

.bottom-nav-dashboard .ant-menu-title-content {
  margin: 0 !important;
  font-size: 12px;
  font-weight: 500;
}

.bottom-nav-dashboard .anticon,
.bottom-nav-dashboard svg {
  font-size: 22px;
}

.bottom-nav-dashboard .ant-menu-item-selected {
  color: #6f42ff !important;
  background: transparent !important;
}

.bottom-nav-dashboard .ant-menu-item-selected::before {
  content: "";

  position: absolute;
  top: 10px;

  width: 8px;
  height: 8px;

  border-radius: 50%;
  background-color: #6f42ff;
}

.bottom-nav-dashboard .ant-menu-item::after {
  display: none !important;
}
