.pin-spacer {
  background-color: var(--pallet-cream);
}

.navbar-outer {
  position: fixed;
  z-index: 10000;

  width: 100vw;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  margin: 1vw auto 0 auto;

  transition: background-color 2s ease;
}

.navbar-inner {
  transition: background-color 2s ease;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  border-radius: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2vw 1.5vw;
}

.navbar-inner.scrolled {
  background-color: #202050;

  border-radius: 50px;
}

.logo-container {
  display: flex;
  display: flex;
  align-items: center;

  gap: 1vw;
  box-sizing: border-box;
  width: 30%;
}

.logo-container p {
  margin: 0;

  font-family: var(--font-averia);
  font-size: var(--text-paragraf);
  color: var(--pallet-cream);
}

.nav-logo {
  width: 8%;
}

.nav-links {
  display: flex;
  gap: 2vw;
}

.nav-links li {
  display: flex;
  color: var(--pallet-cream);
}

.analyze-btn button {
  display: flex;
  justify-content: end;
  align-items: center;

  background-color: var(--pallet-purple);
  color: var(--pallet-cream);

  border: none;
  padding: 0.5vw 1.5vw;
  border-radius: var(--radius);

  transition: background-color 2s ease;
  transition: font-weight 2s ease;
  font-weight: 600;
}

.analyze-btn button.scrolled {
  background: var(--pallet-yellow);
  color: var(--pallet-dark-blue);
  font-weight: 600;
}

.dropdown-btn-hp {
  display: none;
  background: var(--pallet-yellow);
  border: none;
  border-radius: 2px;
  color: #202050;
}

.nav-hp {
  display: flex;
  gap: 2vw;
  display: flex;
  justify-content: center;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-logo {
    width: 25%;
  }

  .nav-logo img {
    width: 20px;
  }

  .navbar-outer {
    align-items: start;
    margin-top: 0;
    padding: 0%;
  }

  .navbar-inner {
    justify-content: space-between;
    align-items: center;
    padding: 3vw 3.5vw;
  }

  .navbar-inner.scrolled {
    border-radius: 0;
  }

  .nav-links {
    display: none;
  }

  .dropdown-btn-hp {
    display: block;
  }

  .analyze-btn button {
    padding: 2vw 3vw;
    border-radius: 2px;
  }
}
