.home-section {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}

.absolute-div {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
  background: linear-gradient(180deg, #7269e0, #d0c9f3);
}

.absolute-div img {
  position: absolute;
}

.layer1 {
  z-index: 10;
  width: 100%;
  bottom: -450;
}

.layer2 {
  z-index: 9;
  width: 45%;
  right: 0;
  bottom: 0;
}

.layer3 {
  z-index: 8;
  bottom: 0;
  right: 120;
}

.hero-text-con {
  position: absolute;
  width: 40%;

  top: 30%;
  left: 10%;
}

.hero-text-con p:first-child {
  font-size: var(--text-header);
  padding-right: 2vw;
  color: #070f39;
  font-weight: 500;

  margin-bottom: 0.5vw;
}

.hero-text-con p {
  font-size: var(--text-paragraf);
  color: #070f39;
  margin: 0%;
}

.analyze-btn-hero {
  display: flex;
  justify-content: end;
  align-items: center;

  background-color: var(--pallet-nila);
  color: white;

  border: none;
  padding: 0.5vw 1.5vw;
  border-radius: var(--radius);

  transition: background-color 2s ease;
  transition: font-weight 2s ease;
  font-weight: 600;

  margin: 3vw 0;
}
