.bottom-nav-dashboard {
  display: none;
}

.sider-dashboard-con {
  background-color: var(--pallet-nila) !important;
}

.content-dashboard {
  background-color: var(--pallet-gading);
  padding: 2vw;
}

.header-text-con-dashboard p:first-child {
  margin: 0%;
  font-size: clamp(20px, 1.5vw, 30px);
  font-weight: bold;
  color: var(--pallet-nila);
}

.header-text-con-dashboard p {
  margin: 0.7vw 0;
  color: var(--pallet-nila);
  font-weight: 400;
}

.data-listrik-user {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .sider-dashboard-con {
    display: none;
  }

  .bottom-nav-dashboard {
    display: block;
  }
}
