.sider-link-dashboard {
  padding: 2vw;
  width: 20%;

  display: flex;
  flex-direction: column;
  gap: 0.3vw;

  position: fixed;
}

.logo-sider-dashboard {
  display: flex;
  align-items: center;

  gap: 1vw;
}

.logo-sider-dashboard img {
  width: 10%;
  height: 20px;
}

.logo-sider-dashboard p {
  font-size: clamp(20px, 1.5vw, 30px);
  font-family: var(--font-averia);
  font-weight: 500;
  color: aliceblue;
}

/* menu */

.ant-menu {
  background: transparent !important;
  border-inline-end: none !important;
}

.sider-link-dashboard .ant-menu-title-content div {
  color: white !important;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.ant-menu-item:hover {
  background-color: var(--pallet-ungu) !important;
}

.sider-link-dashboard .ant-menu-item-selected {
  background-color: var(--pallet-ungu) !important;
  color: white !important;
}

.ant-menu-item-active {
  background-color: var(--pallet-ungu) !important;
}

.dahboard-bawah-rumah {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .bottom-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .ant-menu-title-content div {
    color: rgb(43, 14, 52) !important;
  }

  .ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-menu-item:hover {
    background-color: transparent !important;
    color: var(--pallet-ungu) !important;
  }

  .ant-menu-item-selected div {
    color: var(--pallet-ungu) !important;
  }

  .ant-menu-item-active {
    color: var(--pallet-ungu) !important;
  }
}
